{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <form class="form-signin" action="{% url 'signin' %}" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </fieldset>
        </form>
    </div>
</section>
{% endblock content %}